.fixed-bg {
            /* 【ここが最重要】 画像をウィンドウに対して固定する */
            background-attachment: fixed; 
            
            /* 画像を画面いっぱいに広げる */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            /* 背景エリアの高さ（全画面） */
            height: 100vh; 
            
            /* コンテンツの中央揃え用（必須ではありません） */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* 1枚目の背景画像 */

        .bg-1 {
            background-image: url('https://picsum.photos/1920/1080?random=2');
            position:relative;
            display:flex;
            justify-content:space-between;
            align-items:center;
        }

        .kasuko-gif{
            width: 50%;
            margin-left: 5%;
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
            padding-left: 5%;
            opacity: 0;
        }
        .reservation-top-logo{
            width:30%;
            margin-right: 5%;
            margin-right: 5%;
            height:auto;
            margin-top: none;
        }

nav.invite-box a{
    display: block;

    text-align: center;
    font-size: 0.9em;
    height: 300px;
    width: 70%;
    box-shadow: 0px 3px 6px rgba(100, 100, 100);
    padding: 3%;
    
    margin: 0 auto;
    margin-top: 80px;

    transition: all 0.3s;

    color: black;
    text-decoration: none;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-size: cover;
}

nav.invite-box a:hover{
    height: 350px;
    width: 73%;
    margin-top: 30px;
}

nav.invite-box h3{
    font-size: 2em;
    transition: all 0.3s;
}

nav.crowded-site a{
    background-image: url("images/konzatsu\ joukyou\ gaiyou.png");
}

nav.reservation-site a{
    background-image: url("images/home/yaju.jpg");
}

.festival-projects-slide{
    width: 100%;
    height: 300px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;

    position: relative;
}

@keyframes sliding {
  0% {
    /* アニメーション開始時 */
    right: -100%;
    transform: translateY(0%);
  }

  100% {
    /* アニメーション終了時 */
    right: 200%;
    transform: translateY(0%);
  }
}

.festival-projects-slide{
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center; /* 水平方向中央 */
    align-items: center;     /* 垂直方向中央 */
    height: 500px;           /* 例：ビューポートの高さ */
    width: 90%;
    margin: 100px auto;
    margin-bottom: 200px;
}

.festival-projects-slide h1{
    font-size: 3em;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.1);
}

.festival-projects-slide img{
    height: 100%;
    width: 500px;
    object-fit: cover;

    position: absolute;
    display: inline;
    animation: sliding 10s linear infinite normal forwards;
    animation-fill-mode: forwards;
    transform: translateY(100%);
}

.festival-projects-slide img:nth-child(1){
    animation-delay: 0s;
}
.festival-projects-slide img:nth-child(2){
    animation-delay: 4s;
}
.festival-projects-slide img:nth-child(3){
    animation-delay: 8s;
}
.festival-projects-slide img:nth-child(4){
    animation-delay: 12s;
}
.festival-projects-slide img:nth-child(5){
    animation-delay: 16s;
}
.festival-projects-slide img:nth-child(6){
    animation-delay: 20s;
}

.what-fes{
    width: 100%;
    margin: 300px auto;
    text-align: center;
}

.what-fes h2{
    font-size: 3em;
    margin-top: 100px;
}

.img-and-text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.img-and-text-box img{
    width: 40%;
    box-shadow: 1px 1px 10px gray;
}

.img-and-text-box p{
    font-size: 1.2em;
    border-bottom: 2px double gray;
}

/*スマホ版*/
@media screen and (max-width: 768px) {
   .img-and-text-box{
     display: block;
   }
   .what-fes h2{
    font-size: 2em;
   }

   .img-and-text-box img{
    width: 90%;
   }

   .img-and-text-box p{
    font-size: 0.9em;
   }

   .festival-projects-slide h1{
    font-size: 2em;
   }
}